@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Zen+Kaku+Gothic+New&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-image: linear-gradient(45deg, rgba(251, 213, 251, 1), rgba(149, 233, 243, 1)), url("assets/noise.svg");
}

.title {
  color: #000;
  font-size: 70px;
  font-family: "Doto";
  font-weight: 900;
}

.title-sm {
  color: #000;
  font-size: 40px;
  font-family: "Doto";
  font-weight: 900;
}

.text {
  color: #000;
  font-size: 30px;
  font-family: "Zen Kaku Gothic New";
  font-weight: 400;
}

.ease-wrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 1;
}

.ease {
  transform: translateY(100px);
  display: inline-block; 
  transition: 0.5s;
  opacity: 0;
}